@media screen and (min-width: 1px) {
  body {
    background-image: url("red.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  table{
    color: white;
  }

  canvas {
    border: 1px solid black;
    width: 100%;
    max-width: 1000px;
    z-index: 1; 
    background-color: white;
    filter: brightness(90%);
    height: auto;
  }

  .controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  button {
    background: #282A3A;
    color: #FFF;
    border-radius: 2px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}