@media screen and (min-width: 1px) {
  canvas {
    border: 1px solid black;
    width: 100%;
    max-width: 1000px; /* Por ejemplo, puedes ajustar este valor según tus necesidades */
    height: auto;
  }

  .controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  button {
    background: #282A3A;
    color: #FFF;
    border-radius: 2px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
    width: 100%;
    max-width: 200px; /* Por ejemplo, puedes ajustar este valor según tus necesidades */
    height: auto;
  }
}
